extends layout

block content
  div(class="home-main")
    div(class="home-main__left")
      p(class="home-main_title") Scrum poker made simple and fun
      p(class="home-main_des") The best poker pointing app for agile development
      button(id="new-game" class="btn new-game-btn")
        a(href='/new-game') Start New Game

    div(class="home-main__right")
      img(src="/images/bg.png")
