doctype html
html
  head
    title Planning Pocker Game
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    //- script(src="/socket.io/socket.js")
    script(src="https://unpkg.com/socket.io-client@4.1.2/dist/socket.io.min.js")
  body
    block content
    script(src="/js/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/mustache/mustache.min.js")
    script(src="/js/jquery/dist/jquery.min.js")
    script(src="/javascripts/common.js")
    block scripts
    //- script(src="/javascripts/play.js")
